@import "../variables.css";

.subscriptionForm {
  margin: 20px 0;
  text-align: center; /* Center the content */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}
h1 {
  color: var(--var(--text-dark-color));
}
.subscribeButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: var(--button-font-weight);
  background-color: var(--button-secondary-background-color);
  color: var(--button-secondary-text-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.subscribeButton:hover {
  background-color: var(--button-secondary-hover-background-color);
  color: var(--button-secondary-hover-text-color);
}
